@model User_Role_Managment_System.Models.User_Model

@{
    ViewData["Title"] = "Edit";
}

<h1>User Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Users" asp-action="SaveUser" method="post" , new { enctype="multipart/form-data" }>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="user_Id" />
                <label asp-for="User_FirstName" class="control-label"></label>
                <input asp-for="User_FirstName" class="form-control" />
                <span asp-validation-for="User_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Lastname" class="control-label"></label>
                <input asp-for="User_Lastname" class="form-control" />
                <span asp-validation-for="User_Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usermail" class="control-label"></label>
                <input asp-for="Usermail" class="form-control" />
                <span asp-validation-for="Usermail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress" class="control-label"></label>
                <input asp-for="UserAddress" class="form-control" />
                <span asp-validation-for="UserAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_contact" class="control-label"></label>
                <input asp-for="User_contact" class="form-control" />
                <span asp-validation-for="User_contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfiePic" class="control-label"></label>
                <input asp-for="ProfiePic" type="file" class="form-control" />
                <span asp-validation-for="ProfiePic" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
